table {
  border-collapse: collapse;
}

tr th {
  background-color: rgb(150, 253, 167);
}

thead th {
  background-color: rgb(241, 170, 37);
  text-align: center;
  color:rgb(116, 116, 116);
  font-size: 25px;
}

.main-table td:nth-child(2) {
text-align: left;
}

td {
  border: solid 1px rgb(207, 207, 207);
  text-align:right;
  width: 100px;
}

.table2 {
  margin-left: 103px; 
}

.table2 tr td {
  border: solid 1px black;
}

.color {
  background-color: rgb(49, 160, 251);
  text-align:left;
}